version: "3"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 6000:2181
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-log:/var/lib/zookeeper/log

  kafka:
    image: srokaemil/mes-broker:latest
    depends_on:
      - zookeeper
    ports:
      - 6010:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka-data:/var/lib/kafka/data
      
  scraping:
    image: srokaemil/mes-scraping:latest
    depends_on:
      - kafka

  data-loader:
    image: srokaemil/mes-data-loader:latest
    depends_on:
      - kafka

  store:
    image: srokaemil/mes-store:latest
    ports:
      - 6020:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${STORE_PASSWORD}
    volumes:
      - postgresql-data:/var/lib/postgresql/data

  offers-ingestion:
    image: srokaemil/mes-offers-ingestion:latest
    depends_on:
      - kafka
      - store
    environment:
      - USER=admin
      - PASSWORD=${STORE_PASSWORD}
      - HOST=store
      - DATABASE=postgres
      - PORT=5432

volumes:
  zookeeper-data:
  zookeeper-log:
  kafka-data:
  postgresql-data: